<div class="container pt-3">
  <div class="row">
    <div class='col-12'>
      <h2>Find repositories starred by user</h2>
    </div>
  </div>
  <div class="row">
    <div class='col-12 col-lg-6'>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"
                id="basic-addon1">@</span>
        </div>
        <input type="text"
               class="form-control"
               placeholder="GitHub Username"
               (keyup.enter)='loadStarred()'
               (input)='userName = $event.target.value'>
        <button type="button"
                (click)='loadStarred()'
                class="btn btn-primary">Show</button>
      </div>
    </div>
  </div>



  <div *ngIf='errorMessage'
       class="alert alert-danger"
       role="alert">
    {{errorMessage}}
  </div>




  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">
            <svg viewBox="0 0 14 16"
                 version="1.1"
                 width="14"
                 height="16"
                 aria-hidden="true">
              <path fill-rule="evenodd"
                    d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z">
              </path>
            </svg>
          </th>
          <th scope="col">Name</th>
          <th scope="col">Created</th>
          <th scope="col">Updated
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let repo of repos">
          <th scope="row">{{ repo.id | number}}</th>
          <td>{{ repo.stargazers_count | number }}</td>
          <td>{{ repo.name }}</td>
          <td>{{ repo.created_at  | date }}</td>
          <td>{{ repo.updated_at | date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
